@model onlineshoppingstore.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;


@{
    ViewBag.Title = "Home Page";
}



<div class="row">

    <div class="col-md-12">
        <div class="nav-menus">

            <ul class="nav nav-pills">
                <li class="active"><a style="border-radius:initial;color:aliceblue;" href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active"><a style="border-radius:initial;color:aliceblue;" href="@Url.Action("About","Home")">About Us</a></li>
                <li class="active"><a style="border-radius:initial;color:alice" href="@Url.Action("Contact","Home")">Contact Us</a></li>
                
               

                    @if (User.Identity.IsAuthenticated)
                {
                    <li class="active">
                        <a style="border-radius:initial;color:aliceblue;">Hello-@User.Identity.Name</a>
                    </li>
                    if (User.IsInRole("Admin"))
                    {
                        <li class="active"><a style="border-radius:initial;color:aliceblue;" href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                    }
                    <li class="active"><a style="border-radius:initial;color:aliceblue;" href="@Url.Action("MyOrders","Home")">My Orders</a></li>

                    <li class="active"><a style="border-radius:initial; color:aliceblue;" href="@Url.Action("Logout","AccountUser")">Logout</a></li>


                }
                else
                {
                    <li class="active"><a style=" border-radius: initial;  color: aliceblue;" href="@Url.Action("Login","AccountUser")">Login</a></li>

                }


            </ul>
     

        </div>
    </div>

</div>

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>

            <img style="height:320px;width:100%" src="~/images/ss-activewear.png"/>
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>

            <img style="height:320px;width:100%" src="~/images/imageforslider2.jpg" />
            <div class="carousel-caption">


            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="~/images/imageforslider.jpg" />

            <div class="carousel-caption">




            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
<div class="olContent f1"><h2>Search Product/Brands</h2></div>
<form method="post">
    <div class="olSearch fr">
        <input type="text" name="search" placeholder="Enter Keyword" class="inputComn form-control" />
        <div class="searchIcon">
            <button type="submit" class="searchBtn">
                <img src="~/images/searchcloth.jpg" width="40" height="30">
            </button>


        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Trending Brands</h2>
        </div>
    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">

                <a href="@Url.Action("ProductDetails","Home")">
                    <img class="img-responsive" title="Click to View Product detail"
                         style="cursor:pointer;height:160px;width:100%"
                         src="~/ProductImg/@item.ProductImage"/>
                </a>

                <div class="caption">
                    <h5>@item.ProductName</h5>

                    <p>@item.Price </p>
                    <p>
                        @if (item.Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                        <p>In Stock</p>
                    }
                    else
                    {
                        <p>Out of stock</p>
                    }
                        </p>
                        <div class="product-item-badge">
                            @if (item.IsFeatured == true)
                            {
                                <p>New</p>

                            }
                            else
                            {
                            }

                        </div>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }


</div>



<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions())
</div>
