@{
    ViewBag.Title = "About";


}

<div class="nav-menus">
    <ul class="nav nav-pills">

        <li><a style="border-radius:initial;" href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active"><a style="border-radius:initial; " href="@Url.Action("About","Home")">About Us</a></liclass="active">
</ul>
</div>
<p>
    Trend-Hunters is a e-commerce website, which retails various Branded fashion products (Currently Men’s Wear). This project is an attempt to provide the advantages of online shopping to customers of a real shop.

</p>

