
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="nav-menus">
    <ul class="nav nav-pills">
        <li><a style="border-radius:initial;" href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active"><a style="border-radius:initial;" href="@Url.Action("Location","Home")">Location</a></li>
    </ul>
</div>
<a href="#"><i class="fa fa-map-marker" aria-hidden="true"> BRANDS HUB ,Gandhi Chouk </i></a>
<br />








